#header>article:nth-child(1)>article:nth-child(2)>a:nth-child(2){
    color: var(--fiol);
}

.article{
    margin: 100px auto 0 auto;
    width: var(--base_width);
    display: flex;
    flex-direction: column;
    --text: #252525;
    >h1{
        font-size: 38px;
        font-weight: 600;
        color: var(--text);
    }
    >.autor{
        display: flex;
        height: 60px;
        margin: 30px 0 50px 0;
        >img{
            margin-right: 20px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
        >article{
            display: flex;
            flex-direction: column;
            height: 70%;
            align-self: center;
            justify-content: space-around;
            >.des{
                color: #8D8D8D;
                font-size: 15px;
                font-weight: 400;
            }
            >.name{
                font-size: 22px;
                font-weight: 500;
                margin-top: -4px;
            }
        }
    }
    >.article_img{
        width: 100%;
        height: 500px;
        margin-bottom: 50px;
        object-fit: cover;
    }
    >.article_content{
        display: grid;
        grid-template-columns: 6fr 2fr;
        margin-top: 50px;
        >.article_text{
            display: flex;
            flex-direction: column;
            border-right: solid #9B9B9B 1px;
            padding-right: 100px;
            >h2{
                font-size: 33px;
                font-weight: 600;
                margin-bottom: 40px;
                color: var(--text);
            }
            >.text{
                font-size: 22px;
                font-weight: 400;
                line-height: 45px;
                margin-bottom: 60px;
                color: var(--text);
                text-align: justify;
            }
            >.mb{
                margin-bottom: 100px;
            }
            >ul{
                margin-bottom: 125px;
                margin-left: 30px;
                >li{
                    color: var(--text);
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 45px;
                }
            }
        }
        >.other_articles{
            display: flex;
            flex-direction: column;
            padding-left: 50px;
            gap: 50px;
            align-items: flex-end;
            >a{
                width: 300px;
                background-color: white;
                box-shadow: rgba(0,0,0,0.1) 15px 15px 45px 2px;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding-top: 25px;
                border-radius: 22px;
                text-decoration: none;
                color: black;
                transition: .6s;
                &:hover{
                    transition: .6s;
                    box-shadow: rgba(0,0,0,0.2) 15px 15px 45px 2px;
                    transform: scale(1.1);
                }
                >img{
                    width: 250px;
                    height: 250px;
                    border-radius: 22px;
                }
                >p{
                    width: 100%;
                    padding-left: 26px;
                    margin: 20px 0;
                    font-size: 22px;
                    font-weight: 600;
                }
                >.autor{
                    display: flex;
                    padding: 0 25px;
                    width: 100%;
                    margin-bottom: 25px;
                    height: 60px;
                    >img{
                        height: 45px;
                        width: 45px;
                        margin-right: 16px;
                    }
                    >article{
                        display: flex;
                        flex-direction: column;
                        /* gap: 6px; */
                        >.com{
                            font-size: 12px;
                            font: 400;
                            color: #8D8D8D;
                        }
                        >.name{
                            font-size: 17px;
                            font-weight: 500;
                        }
                    }
                    >.date{
                        margin-left: auto;
                        align-self: center;
                        color: #B7B4B4;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    >a{
        border-radius: 12px;
        height: 60px;
        line-height: 58px;
        text-align: center;
        padding: 10px 20px;
        background-color: var(--fiol);
        color: white;
        display: flex;
        gap: 20px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        margin-top: 30px;
        align-items: center;
        max-width: 200px;
        margin-bottom: 100px;
    }
}