/* ! Файл стилей для index.html  */
/* ? dish section */
.dish_section{
    width: var(--base_width);
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    >article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 600px;
        .dish_desc_chapter{
            display: flex;
            flex-direction: column;
            height: 100%;
            >.start_text_block{
                display: flex;
                height: 20px;
                align-items: center;
                >.text_hr{
                    width: 50px;
                    height: 2px;
                    background-color: var(--hr);
                    margin-right: 20px;
                }
                >p{
                    color: var(--hr);
                    font-size: 15px;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
            }            
            >h1{
                font-size: 75px;
                font-weight: 600;
            }
            >.dish_buttons{
                margin: 80px 0 40px 0;
                display: flex;
                gap: 20px;
            }
            >.dish_desc{
                width: 70%;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                color: var(--dish-text);
            }
            >.dish_stars{
                display: flex;
                margin-top: 20px;
                height: 31px;
                align-items: flex-end;
                >.green_star{
                    height: 30px;
                    aspect-ratio: 1;
                }
                >.star{
                    height: 15px;
                    aspect-ratio: 1;
                    margin-right: 4px;
                    margin-bottom: 6px;
                    &:nth-child(3){
                        margin-left: 20px;
                    }
                    &:nth-child(7){
                        margin-right: 20px;
                    }
                }
                >.stars_text{
                    margin-left: 6px;
                    font-size: 19px;
                    font-weight: 600;
                }
                >.count_stars{
                    color: var(--count);
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
        .dish_image_chapter{
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: column;
            >.fiol_circle{
                width: 450px;
                height: 450px;
                border-radius: 50%;
                margin: 0 auto;     
                background-color: var(--fiol);
                z-index: 0;
                position: absolute;
            }
            >.dish_img{
                width: 430px;
                height: 430px;
                object-fit: cover;
                border-radius: 50%;
                z-index: 2;
                position: absolute;
                transform: translate(-4%, 6%);
            }
            >.offer{
                position: absolute;
                z-index: 3;
                background-color: white;
                border-radius: 20px;
                width: 400px;
                height: 120px;
                align-self: flex-end;
                margin-top: -50px;
                transform: translateX(-10px);
                transform: translateY(-30px);
                box-shadow: rgba(0,0,0,0.1) 4px 4px 2px 2px;
                display: flex;
                align-items: center;
                >img{
                    width: 100px;
                    aspect-ratio: 1;
                    margin-left: 10px;
                }
                >.microdish_desc{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 80px;
                    margin-left: 20px;
                    justify-content: space-between;
                    >.microdish_desc_name{
                        font-weight: 600;
                        font-size: 16px;
                        color: #323142;
                    }
                    >.microdish_desc_desc{
                        font-weight: 500;
                        font-size: 10px;
                        color: #323142;
                    }
                    >.microdish_desc_time{
                        font-weight: 500;
                        font-size: 11px;
                        color: #ACADB9;
                        align-self: flex-end;
                        padding-right: 20px;
                    }
                }
            }
            >.dish_graph{
                position: absolute;
                z-index: 3;
                width: 200px;
                height: 200px;
                align-self: flex-start;
                transform: translateY(150%);
                margin-left: 80px;
                box-shadow: rgba(0,0,0,0.1) 5px 5px 8px 8px;
                border-radius: 15px;
            }
        }
    }
}

/* ? hr section */
.big_hr{
    width: var(--base_width);
    height: 250px;
    margin: 100px auto;
    background: var(--fiol);
    display: flex;
    justify-content: center;
    align-items: center;
    >.hr_section{
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 150px;
        align-items: center;
        justify-content: center;
        >article{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            flex-direction: column;
            gap: 20px;
            text-align: center;
            color: white;
            &:nth-child(1),
            &:nth-child(2){
                border-right: solid #c5c5c527 3px;
            }
            >.numb{
                font-family: "Public Sans", sans-serif;
                font-weight: 700;
                font-size: 43px;
            }
            >.numb_desc{
                font-weight: 400;
                font-size: 15px;
                font-family: "Inter", sans-serif;
                width: 250px;
            }
        }   
    }
}

/* ? mobile phone section */
.mobile_phone{
    width: var(--base_width);
    margin: 0 auto;
    >article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        >article{
            height: 700px;
        }
        >article:nth-child(1){
            display: flex;
            align-items: center;
            justify-content: center;
            >img{
                position: absolute;
                &:nth-child(1){
                    width: 300px;
                    aspect-ratio: 1/2;
                    z-index: 0;
                }
                &:nth-child(2){
                    width: 250px;
                    height: 520px;
                    z-index: 1;
                }
            }
            >.phone_content{
                position: absolute;
                z-index: 1;
            }
        }
        >article:nth-child(2){
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 550px;
            padding-left: 100px;
            padding-top: 100px;
            >h2{
                font-size: 51px;
                font-weight: 700;
                width: 70%;
            }
            >ul{
                padding-left: 20px;
                margin: 30px 0;
                >li{
                    width: 70%;
                    color: #676767;
                    font-size: 21px;
                    font-weight: 400    ;
                    &:nth-child(1){
                        margin-bottom: 20px;
                    }
                }
            }
            >a{
                width: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                background-color: #6C5FBC;
            }
        }
    }
    >.phone_hr{
        width: 85%;
        margin: 50px auto;
        border: solid 1px #CBCBCB;
    }
}

/* ? our restaurants section */
.our_restaurants{
    width: var(--base_width);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    >h1{
        font-size: 45px;
        font-weight: 600;
        margin: 30px 0 50px 0;
    }
    >.rest_list{
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        height: 300px;
        margin-bottom: 100px;
        /* grid-gap: 30px; */
        >.rest{
            text-decoration: none;
            color: #030314;
            border-radius: 20px;
            box-shadow: 20px 50px 52px 2px rgba(34, 60, 80, 0.11);
            >img{
                width: 400px;
            }
            >.rest_desk{
                width: 400px;
                height: 125px;
                border-radius: 0 0 20px 20px;
                margin-top: -10px;
                background-color: white;
                display: flex;
                justify-content: space-between;
                >.rest_desk_text{
                    display: flex;
                    flex-direction: column;
                    padding-left: 35px;
                    padding-top: 15px;
                    >.healthy{
                        background: var(--y_stat_bg);
                        color: var(--y_stat);
                        font-size: 13px;
                        font-weight: 400;
                        width: 68px;
                        padding: 4px 8px;
                        border-radius: 5px;
                    }
                    >.trending{
                        background: var(--r_stat_bg);
                        color: var(--r_stat);
                        font-size: 13px;
                        font-weight: 400;
                        width: 74px;
                        padding: 4px 8px;
                        border-radius: 5px;
                    }
                    >.dish_title{
                        font-size: 26px;
                        font-weight: 600;
                        line-height: 41px;
                    }
                    >article{
                        display: flex;
                        align-items: center;
                        >svg{
                            aspect-ratio: 1;
                            margin: 0 10px;
                            margin-bottom: 4px;
                        }
                        >.time,
                        >.dish_reiting{
                            font-size: 19px;
                            font-weight: 400;
                            color: #8E97A6;
                            font-family: "Manrope", sans-serif;
                        }
                    }
                }
                >.bookmark_art{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #DBD9EE;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: flex-end;
                    margin: 0 24px 14px 0;
                }
            }
        }
    }
    >.view_all{
        align-self: flex-end;
        margin-right: 120px;
        margin-bottom: 50px;
        font-size: 20px;
        font-weight: 500;
        color: #ACADB9;
        display: flex;
        >img{
            height: 20px;
            width: 20px;
            transform: translate(5px, 5px);
        }
    }
    >.phone_hr{
        width: 85%;
        margin: 50px auto;
        border: solid 1px #CBCBCB;
    }
}   

/* ? top dishes section */
.top_dishes{
    width: var(--base_width);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    >.dish_list{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 80%;
        grid-gap: 20px;
        margin-bottom: 100px;
        >article{
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 30px;
            align-items: center;
            box-shadow: rgba(0,0,0,0.1) 4px 40px 52px 2px ;
            >.img_block{
                >svg{
                    z-index: 1;
                    position: absolute;
                    transform: translate(160px, 20px);
                }
                >img{
                    width: 180px;
                    height: 180px;
                    margin-top: 20px;
                    z-index: 0;
                    position: relative;
                }
            }
            >.top_dish_desk{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-left: 40px;
                margin-top: 10px;
                >p:nth-child(1){
                    border-radius: 8px;
                    font-size: 12px;
                    padding: 4px 12px;
                }
                >.healthy{
                    background-color: var(--y_stat_bg);
                    color: var(--y_stat);
                    width: 70px;
                }
                >.trending{
                    background-color: var(--r_stat_bg);
                    color: var(--r_stat);
                    width: 80px;
                }
                .supreme{
                    background-color: var(--g_stat_bg);
                    color: var(--g_stat);
                    width: 80px;
                }
                >.top_dish_name{
                    font-size: 23px;
                    font-weight: 600;
                    margin: 4px 0;
                }
                >.block_reiting{
                    display: flex;
                    margin-bottom: 15px;
                    >.time,
                    >.reiting{
                        font-weight: 400;
                        font-size: 17px;
                        color: #8E97A6  ;
                    }
                    >svg{
                        margin: 0 6px;
                    }
                }
                .price_block{
                    display: flex;
                    /* width: 80%; */
                    justify-content: space-between;
                    margin-bottom: 20px;
                    >.price{
                        font-weight: 700;
                        font-size: 26px;
                        font-family: "Manrope", sans-serif;
                        >.down{
                            font-size: 19px;
                            font-weight: 700;
                            color: #8E97A6;
                        }
                    }
                    >.add_btn{
                        width: 40px;
                        height: 40px;
                        border-radius: 10px;
                        background-color: black;
                        color: white;
                        text-decoration: none;
                        text-align: center;
                        line-height: 30px;
                        padding-top: 6px;
                        font-size: 30px;
                        font-weight: 500;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    >.view_all{
        align-self: flex-end;
        margin-right: 120px;
        margin-bottom: 50px;
        font-size: 20px;
        font-weight: 500;
        color: #ACADB9;
        display: flex;
        >img{
            height: 20px;
            width: 20px;
            transform: translate(5px, 5px);
        }
    }
    >h1{
        font-size: 45px;
        font-weight: 600;
        margin: 30px 0 50px 0;
    }
}

/* ? purchases section */
.purchases{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: var(--base_width);
    margin: 50px auto;
    margin-bottom: 100px;
    >.list_purchases{
        display: flex;
        flex-direction: column;
        padding-left: 120px;
        >h2{
            font-size: 51px;
            font-weight: 700;
            width: 80%;
        }
        >.list_purchases_list{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 50px;
            >article{
                background-color: white;
                width: 350px;
                height: 100px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                >img{
                    width: 70px;
                    height: 70px;
                    margin: 0 20px;
                }
                >.purchase_content{
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    justify-content: space-between;
                    padding: 20px 15px 15px 0;
                    /* gap: 8px; */
                    >.purchase_title{
                        font-size: 19px;
                        font-weight: 600;
                    }
                    >.purchase_status{
                        font-size: 12px;
                        font-weight: 500;
                    }
                    >.purchase_date{
                        text-align: right;
                        color: #ACADB9;
                        font-size: 13px;
                        font-weight: 500;
                    }
                }
            }
            >article:nth-child(3)>article>.purchase_status{
                color: #F1534E;
            }
        }
    }
    >.result_purchases{
        display: flex;
        justify-content: flex-end;
        padding-right: 120px;
        padding-top: 10px;
        >.block_results{
            display: flex;
            flex-direction: column;
            padding: 30px;
            background-color: white;
            border-radius: 20px;
            width: 500px;
            height: 430px;
            box-shadow: rgba(0,0,0,0.2) 20px 20px 52px 2px;
            >.nav_block{
                display: flex;
                justify-content: space-between;
                width: 100%;
                >h3{
                    font-size: 28px;
                    font-weight: 800;
                    color: #1A202C;
                    letter-spacing: 1px;
                }
                >select{
                    padding: 5px 10px;
                    border-radius: 16px;
                    background-color: #FAFAFA;
                    border: none;
                    width: 150px;
                    height: 45px;
                    font-size: 19px;
                    font-weight: 500;
                    &:focus{
                        outline: none;
                    }
                }
            }
            /* n + 2 - со второго элемента */
            >article:nth-child(n+2){
                background-color: white;
                border: #1A202C;
                width: 100%;
                height: 130px;
                border-radius: 20px;
                border: #EDF2F7 solid 1.57px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                >.statistic{
                    display: flex;
                    justify-content: space-between;
                    width: 90%;
                    >article:nth-child(1){
                        display: flex;
                        >.progress_icon_one{
                            background-color: #F4F0FF;
                        }
                        >.progress_icon_two{
                            background-color: #F2FDF6;
                        }
                        >div{
                            height: 60px;
                            padding-left: 3px;
                            aspect-ratio: 1;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 10px;
                        }
                        >.statistics_text{
                            display: flex;
                            flex-direction: column;
                            margin-left: 10px;
                            >p:nth-child(1){
                                font-size: 19px;
                                font-weight: 700;
                                color: #1A202C;
                                margin-bottom: 4px;
                                letter-spacing: .6px;
                            }
                            >p:nth-child(2){
                                font-size: 16px;
                                font-weight: 4  00;
                                color: #A0AEC0;
                            }
                        }
                    }
                    >article:nth-child(2){
                        display: flex;
                        align-items: center;
                        >.stat_n{
                        font-size: 22px;
                        font-weight: 700;
                        letter-spacing: .6px;
                        }
                    }
                }
                >.progress_one_bg{
                    background-color: #6b5fbc32;
                    >div{
                        background-color: #6C5FBC;
                        width: 75%;
                    }
                }
                >.progress_two_bg{
                    background-color: #fbac1833;
                    >div{
                        background-color: #FBAD18;
                        width: 62%;
                    }
                }
                >div{
                    width: 90%;
                    height: 8px;
                    border-radius: 4px;
                    margin-top: 18px;
                    >div{
                        height: 100%;
                        border-radius: 4px;
                    }
                }
            }
            >article:nth-child(2){
                margin-top: 30px;
            }
            >article:nth-child(3){
                margin-top: 20px;
            }
        }
    }

}

/* ? customers section */
.customers{
    width: var(--base_width);
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
    >h1{
        font-size: 32px;
        font-weight: 700;
        margin-top: 50px;
        margin-bottom: 70px;
    }
    >.remarks{
        width: 85%;
        display: flex;
        >.first_remark{
            width: 450px;
            height: 300px;
            background-color: white;
            border-radius: 20px;
            box-shadow: rgba(0,0,0,0.3) 20px 20px 70px 1px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px;
            >.remark_header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 70px;
                >.remark_autor{
                    display: flex;
                    gap: 18px;
                    height: 100%    ;
                    >img{
                        width: 75px;
                        aspect-ratio: 1;
                    }
                    >.autor_info{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: center;
                        >.name{
                            font-size: 15px;
                            font-weight: 500;
                            color: #030314;
                            margin-bottom: 6px;
                        }
                        >.year{
                            color: #5E5D5D;
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                }
                >svg{
                    transform: scale(1.4);
                    margin-right: 20px;
                }
            }
            >.remark_body{
                width: 100%;
                >i{
                    width: 90%;
                    color: #636363;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
            >.remark_stars{
                >img{
                    width: 20px;
                    aspect-ratio: 1;
                }
            }
        }
        >.another_remarks{
            display: flex;
            overflow-x: scroll;
            max-width: 800px;
            margin-left: 40px;
            gap: 30px;
            scrollbar-width: 400px;
            scrollbar-color: #6C5FBC #6b5fbc31;
            position: relative;
            &::-webkit-scrollbar{
                width: 400px;
                height: 100%;
            }
            >.remark{
                min-width: 450px;
                background-color: white;
                border-radius: 30px;
                box-shadow: rgba(0,0,0, 0.1) 20px 20px 70px 1px;
                height: 200px;
                padding: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 20px;
                >.remark_text{
                    width: 100%;
                    color: #969696;
                    font-size: 13px;
                    font-weight: 400;
                }
                >article{
                    width: 100%;
                    img{
                        width: 20px;
                        aspect-ratio: 1;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    >.promo_block{
        display: flex;
        justify-content: space-between;
        padding: 40px 50px;
        width: 85%;
        border-radius: 30px;
        height: 250px;
        margin-top: 200px;
        background-color: var(--fiol);
        margin-bottom: 200px;
        >.promo_info{
            >h1{
                font-size: 50px;
                font-weight: 800;
                color: #FFFFFF;
            }
            >.email_enter{
                width: 350px;
                height: 60px;
                margin-top: 10px;
                position: relative;
                >input{
                    width: 100%;
                    padding: 10px 130px 10px 25px;
                    border-radius: 12px;
                    border: none;
                    height: 100%;
                    display: block;
                    &::placeholder{
                        color: #878787;
                        font-size: 12px;
                        font-weight: 400;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                >a{
                    position: absolute;
                    transform: translate(238px, -54px);
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 16px;
                    background-color: var(--fiol);
                    border-radius: 12px;
                    color: rgba(247, 248, 250, 1);
                    font-size: 11px;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                }

            }
        }
        >.promo_img{
            padding-right: 30px;
            >img{
                width: 250px;
                transform: translateY(30px);
            }
        }
    }
}