#header>article:nth-child(1)>article:nth-child(2)>a:nth-child(3){
    color: var(--fiol);
}
.customers{
    margin-bottom: 100px;
}
.purchases{
    margin-top: 200px;
}
/* ? dashboard section */
.dashboard{
    margin: 50px auto;
    display: flex;
    width: var(--base_width);
    flex-direction: column;
    align-items: center;
    margin-bottom: -200px;
    >div{
        width: 100%;
        height: 400px;
        background-color: var(--fiol);
        display: flex;
        justify-content: center;
       
        >h1{
            margin-top: 50px;
            font-size: 40px;
            font-weight: 600;
            color: white;
        }
    }
    >img{
        width: calc(var(--base_width) - 300px);
        transform: translateY(-200px);
    }
}
/* ? price_list section */
.price_list{
    width: calc(var(--base_width) - 200px);
    margin: 150px auto 0px auto;
    background-color: white;
    box-shadow: rgba(0,0,0,0.1) 20px 20px 34px 2px;
    border-radius: 10px;
    >article{
        width: 100%;
        display: grid;
        &:nth-child(-n+3){
            border-bottom: solid #CBCBCB 1px;
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4){
            grid-template-columns: 2fr 1fr 1fr;
        }
        &:nth-child(1){
            height: 200px;
            >article{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                &:nth-child(1){
                    padding-left: 70px;
                }
                >.title{
                    color: #282828;
                    font-size: 40px;
                    font-weight: 600;
                }
                >.desc{
                    color: #6E757C;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: 'Inter';
                    width: 150px;
                }
            }
        }
        &:nth-child(2){
            height: 125px;
            place-items: center start;
            >article{
                display: flex;
                align-items: center;
                height: 70px;
                >.dol{
                    align-self: flex-start;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 32px;
                    color: #272E35;
                }
                >.date{
                    align-self: flex-end;
                    color: #6E757C;
                    font-size: 16px;
                    font-weight: 500;
                }
                >.price{
                    font-size: 64px;
                    font-weight: 600;
                    color: #272E35;
                }
            }
        }
        &:nth-child(3){
            >article{
                display: grid;
                grid-template-columns: 2fr 1fr 1fr;
                height: 65px;
                &:nth-child(1){
                    height: 100px;
                    .params{
                        font-size: 24px;
                        font-weight: 600;
                        color: #272E35;
                    }
                }
                >article{
                    &:nth-child(1){
                        padding-left: 70px;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        &:nth-child(4){
            height: 125px;
            >article{
                height: 100%;
                display: flex;
                align-items: center;
                >a{
                    text-decoration: none;
                    color: white;
                    background-color: var(--fiol);
                    border-radius: 10px;
                    text-align: center;
                    height: 60px;
                    line-height: 58px;
                    font-size: 17px;
                    font-weight: 500;
                    width: 150px;
                }
            }
        }
    }
}